.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: calc(var(--padding) / 2);
}

@media (max-width: 1024px) {
  .container {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto 300px 1fr;
  }
}

.theme-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}

.theme-selector h1 {
  margin-right: 20px;
}
